{sub_dirs, ["apps/db_session", "apps/game", "apps/client"]}.
{lib_dirs, ["include/"]}.
{deps, [
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
    {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", "master"}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", "master"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", 'master'}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", "master"}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis.git", 'master'}}
]}.
